<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1018103516776-qj4goggks5181a4ca1r35vu689m9lpkv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1018103516776-qj4goggks5181a4ca1r35vu689m9lpkv</string>
	<key>API_KEY</key>
	<string>AIzaSyBDIs90yR2qR_PZoph5YTJtiz0N4sneXDg</string>
	<key>GCM_SENDER_ID</key>
	<string>1018103516776</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Taewoo.Increment</string>
	<key>PROJECT_ID</key>
	<string>swiftui-increment</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftui-increment.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1018103516776:ios:d5daf99077f2c3ab04f5dd</string>
</dict>
</plist>